@mixin flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@mixin position-center {
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

@mixin position-top {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
}
